.card-content {
    width: 100%;
}

.card-content.attack {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .attack-bar {
        width: 100%;
        padding: 3px 12px;
        background: $color-card-attack-dark;
        color: white;
        border-radius: 100px;
        display: flex;
        margin-bottom: 12px;
        justify-content: space-between;
    }
}
