.player-change {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        margin-bottom: 50px;

        > span {
            font-size: inherit;

            &.boss {
                color: $color-boss;
            }
            &.worker {
                color: $color-worker;
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
    }
}
