// color-scheme
$color-moral: blue;
$color-wealth: red;
$color-reputation: green;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 24px;
	font-family: Arial;
}
h1 {
	text-transform: uppercase;
	font-size: 40px;
}
html,
body,
#root {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}
#app {
	display: flex;
	width: 100%;
	padding: 200px 0;
	margin: auto;
	justify-content: center;
	align-items: center;

	border: 5px solid black;
}

@import 'start-screen';
@import 'progress-bar';
@import 'match-goals';