// color-scheme
$color-boss: #f70;
$color-worker: blue;

$color-moral: blue;
$color-wealth: red;
$color-reputation: green;

$color-card-attack-light: #FF494F;
$color-card-attack-dark: #D84E52;
$color-card-offer-main-light: #25D7FC;
$color-card-offer-main-dark: #1986DA;
$color-card-offer-sec-light: #44E6E4;
$color-card-offer-sec-dark: #00CCCA;
$color-card-aprovement-light: #F9DCA5;
$color-card-aprovement-dark: #EFCE91;
$color-card-default-light: #F4F4F4;
$color-card-default-dark: #D9D9D9;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 24px;
	font-family: Arial;
}
h1 {
	text-transform: uppercase;
	font-size: 40px;
}
html,
body,
#root {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	background: black;
}
#app {
	background: white;
	display: flex;
	width: 100%;
	padding: 200px 0;
	margin: auto;
	justify-content: center;
	align-items: center;

	min-width: 1920px;
	min-height: calc(1920px / 21 * 9);
	$scale: 1200 / 1920;	// Dev
	// $scale: 1;	// fullscreen
	zoom: #{$scale};
}

/* views */
@import 'start-screen';
@import 'credits';
@import 'player-change';
@import 'match-goals';
@import 'match';

/* components */
@import 'progress-bar';
@import 'card';
@import 'card-content';
